[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
speechrecognition = "*"
google-api-python-client = "*"
pyaudio = "*"
gpiozero = "*"
pigpio = "*"
pocketsphinx = "*"
"smbus2" = "*"

[dev-packages]

[requires]
python_version = "3.6"
